body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.top {
    background-color: #1F2937;
    color: #F9FAF8;
    padding: 25px 180px 25px 180px;
    flex: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header {
    font-size: 24px;
    font-weight: bold;
    flex-grow: 1;
    display: flex;
}

.top-right {
    display: flex;
    gap: 16px;
}

.midtop {
    background-color: #1F2937;
    color: #F9FAF8;
    padding: 90px 120px 100px 90px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.leftmid {
    display: flex;
    flex-wrap: wrap;
    padding: 15px 10px;
    width: 450px;
}

.intro {
    font-size: 48px;
    font-weight: 800;
    padding-right: 50px;

}

.introtext {
    font-size: 18px;
    color: #E5E7EB;
    padding-bottom: 10px;
}

button {
    background-color: #3882F6;
    border: 1px solid #3882F6;
    color: white;
    border-radius: 7px;
    padding: 8px 30px;
    font-size: 16px;
    font-weight: bold;
}

.introimg {
    padding: 8px;
    width: 450px;
}

.mid {
    padding: 50px 0px 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.midheader {
    font-size: 36px;
    font-weight: 800;
    color: #1F2937;
}

.midsubtext {
    display: flex;
    text-align: center;
    margin-left: -70px; 
}


.subtext {
    padding: 70px 60px;
    width: 100px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
}

.illustration {
    width: 165px;
    border: 3px blue solid;
    border-radius: 8px;
    margin-bottom: 6px;
}

.text {
    font-size: 18px;
}

.midbottom {
    padding: 70px;
    background-color: #E5E7EB;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.quote {
    padding: 50px 2px;
    width: 820px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.qtext {
    font-size: 36px;
    font-weight: lighter ;
    color: #1F2937;
    font-style: italic;
}

.qtag {
    margin-left: auto;
    margin-right: 16px;
    padding: 5px 0px;
    width: 220px;
    font-size: 22px;
    font-weight: bold;
}

.bottom {
    padding: 85px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.signup {
    border: 1px solid;
    padding: 40px 60px;
    background-color: #3882F6;
    border-radius: 8px;
    color: white;
    width: 850px;
    display: flex;
    justify-content: space-between;
}

.signuptext {
margin-left: 20px;
}

.signupheader {
    font-size: 20px;
    font-weight: bold;
}

.signupbtnlwr {
    margin-right: 24px;
    border: 2px solid white;

}

.footer {
    padding: 40px;
    background-color: #1F2937;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    
}